[dk_console="container"] {
    padding: 0rem;
    margin: 0rem;
    position: absolute;
    /* border-color: rgb(58,58,58); */
    /* border-style: solid; */
    /* border-width: 1rem; */
    /* box-sizing: border-box; */
    /* border-top-width: 5rem; */
}

[dk_console="div"] {
    position: absolute;
    padding: 0rem;
    font-size: 10rem;
    background-color: rgb(36,36,36);
    color: white;
    font-color: white;
    top: 0rem;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
    /*width: unused;*/
    /*height: unused;*/
    visibility: visible;
    overflow: auto;
}

[dk_console="msgDiv"] {
    width: 100%;
    font-size: 10rem;
    font-family: Consolas, Lucinda, Console, Courier New, monospace;
    white-space: pre-wrap;
    box-sizing: border-box;
    padding: 2rem;
    padding-left: 20rem;
    border-style: solid;
    border-width: 1rem;
    border-top-width: 0rem;
    border-left-width: 0rem;
}

[dk_console="msgSpan"] {
}

[dk_console="commandDiv"] {
    width: 100%;
    height: 30rem;
    white-space: pre-wrap;
    box-sizing: border-box;
    padding: 0rem;
    padding-left: 6rem;
    border-style: solid;
    border-width: 1rem;
    border-top-width: 0rem;
    border-left-width: 0rem;
}

[dk_console="command"] {
    position: absolute;
    left: 17rem;
    font-family: Consolas, Lucinda, Console, Courier New, monospace;
    font-size: 10rem;
    width: 95%;
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    color: white;
}

[dk_console="command"]:focus-visible {
    outline: none;
}

[dk_console="cmnd"] {
    position: relative;
    top: 3rem;
    height: 7rem;
}
