/*[dk_frame="frame"] {*/
#dk_frame_frame {
    position: absolute;
    overflow: hidden;
    min-width: 62rem;
    min-height: 20rem;
    background-color: #766a6a;
}

/*[dk_frame="frame"]::after {*/
#dk_frame_frame::after {
    /* content: ''; */
    position: absolute;
    border-style:solid;
    border-width: 1rem;
    border-color: black;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    pointer-events: none;
}

/*[dk_frame="content"] {*/
#dk_frame_content {
    position: absolute;
    top: 21rem;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
    /*height: unset;*/
    /*width: unset;*/
}

/*[dk_frame="content"] > * {*/
#dk_frame_content > * {
	margin-top:1px;
	margin-left:1px;
	margin-right:1px;
	margin-bottom: 22px;
}

/*[dk_frame="titlebar"] {*/
#dk_frame_titlebar {
    position: absolute;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    height: 21rem;
    background-color: #151416;
}

/*[dk_frame="titlebaricon"] {*/
#dk_frame_titlebaricon {
    position: absolute;
    padding-top: 2rem;
    padding-left:2rem;
    width:16rem;
}

/*[dk_frame="titlebartext"] {*/
#dk_frame_titlebartext {
    position: absolute;
    cursor: default;
    color: #d9cbe0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 20rem;
    padding-right: 4rem;
    font-size: 15rem;
    font-weight: bold;
    white-space: nowrap;
}

/*[dk_frame="reload"] {*/
#dk_frame_reload {
    position: absolute;
    top: 1rem;
    right: 64rem;
    height: 20rem;
    background-color: rgb(212, 210, 212);
}

/*[dk_frame="minimize"] {*/
#dk_frame_minimize {
    position: absolute;
    top: 1rem;
    right: 43rem;
    height: 20rem;
}

/*[dk_frame="maximize"] {*/
#dk_frame_maximize {
    position: absolute;
    top: 1rem;
    right: 22rem;
    height: 20rem;
}

/*[dk_frame="close"] {*/
#dk_frame_close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 20rem;
}
