*.a
*.exe
*.exe.aarch64.elf
*.exe.com.dbg
*.lib
DKBUILD.log
Android_Arm32_Clang
Android_Arm64_Clang
Android_X86_Clang
Android_X86_64_Clang
Cosmo_Cosmo_Cosmo
Cosmopolitan
Cosmopolitan_Cosmopolitan_Cosmopolitan
Emscripten_X86_Clang
Ios_Arm32_Clang
Ios_Arm64_Clang
Ios_X86_Clang
Ios_X86_64_Clang
Iossim_Arm32_Clang
Iossim_Arm64_Clang
Iossim_X86_Clang
Iossim_X86_Clang
Linux_Arm32_Clang
Linux_Arm64_Clang
Linux_X86_Clang
Linux_X86_64_Clang
Linux_Arm32_Gcc
Linux_Arm64_Gcc
Linux_X86_Gcc
Linux_X86_64_Gcc
Mac_Arm32_Clang
Mac_Arm64_Clang
Mac_X86_Clang
Mac_X86_64_Clang
Raspberry_Arm32_Clang
Raspberry_Arm64_Clang
Raspberry_X86_Clang
Raspberry_X86_64_Clang
Raspberry_Arm32_Gcc
Raspberry_Arm64_Gcc
Raspberry_X86_Gcc
Raspberry_X86_64_Gcc
Windows_Arm32_Clang
Windows_Arm32_Gcc
Windows_Arm32_Msvc
Windows_Arm64_Clang
Windows_Arm64_Gcc
Windows_Arm64_Msvc
Windows_X86_Clang
Windows_X86_Gcc
Windows_X86_Msvc
Windows_X86_64_Clang
Windows_X86_64_Gcc
Windows_X86_64_Msvc
Windows_X86_64_Ucrt
CMakeFiles
DEPENDS.TMP
DKCMAKE_START_VARIABLES.temp
DKCMAKE_PROJECT_VARIABLES.temp
DKCMAKE_FLAG_VARIABLES.temp

3rdParty/7z*
3rdParty/Batch-Script-Collection*
3rdParty/Batch-Tools-Sys*
3rdParty/CMakeRC*
3rdParty/Debloat-Windows-10*
3rdParty/Folder-locker*
3rdParty/Microsoft-Activation-Scripts*
3rdParty/android*
3rdParty/android-build-tools*
3rdParty/android-ndk*
3rdParty/android-platform-tools*
3rdParty/android-sdk*
3rdParty/ankhtech_toolbox*
3rdParty/ant*
3rdParty/asio*
3rdParty/astyle*
3rdParty/aubio*
3rdParty/babel*
3rdParty/backward-cpp*
3rdParty/batch-file-examples*
3rdParty/boost*
3rdParty/boxer*
3rdParty/bzip2*
3rdParty/cosmocc*
3rdParty/cosmopolitan*
3rdParty/curl*
3rdParty/duktape*
3rdParty/emsdk*
3rdParty/filezilla*
3rdParty/flac*
3rdParty/fmt*
3rdParty/freetype*
3rdParty/giflib*
3rdParty/glew*
3rdParty/glfw*
3rdParty/harfbuzz*
3rdParty/imagemagick*
3rdParty/jsConsole*
3rdParty/keylogger*
3rdParty/ksodari-Batch-files*
3rdParty/libarchive*
3rdParty/libexpat*
3rdParty/libiconv*
3rdParty/libjpeg-turbo*
3rdParty/libpng*
3rdParty/libpsl*
3rdParty/libssh2*
3rdParty/libwebp*
3rdParty/libxml2*
3rdParty/lunasvg*
3rdParty/lz4*
3rdParty/lzo*
3rdParty/msys2*
3rdParty/nasm*
3rdParty/nodejs*
3rdParty/ogg*
3rdParty/openal*
3rdParty/openjdk*
3rdParty/openssl*
3rdParty/opus*
3rdParty/pcre2*
3rdParty/pestudio*
3rdParty/php-src*
3rdParty/processexplorer*
3rdParty/pugixml*
3rdParty/python*
3rdParty/python3*
3rdParty/rlottie*
3rdParty/rmlui*
3rdParty/sdl*
3rdParty/sdl_image*
3rdParty/sdl_mixer*
3rdParty/sdl_mixer*
3rdParty/sdl_ttf*
3rdParty/smpeg2*
3rdParty/threadpool*
3rdParty/tidy-html5*
3rdParty/tiff-lib*
3rdParty/unxutils*
3rdParty/useful_bat_files*
3rdParty/ventoy*
3rdParty/vorbis*
3rdParty/wavpack*
3rdParty/websocketd*
3rdParty/webview2_in_mingw*
3rdParty/webview2_runtime*
3rdParty/xz*
3rdParty/zlib*
3rdParty/zstd*

DKCpp/plugins/*/CMakeLists.txt
DKCpp/plugins/DK/backward.cpp
DKCpp/plugins/DKXml/pugixml.cpp

DKCpp/apps/*/.vscode
DKCpp/apps/*/CMakeLists.txt
DKCpp/apps/*/DKApp.code-workspace
DKCpp/apps/*/DKPlugins.h
DKCpp/apps/*/assets.h
DKCpp/apps/*/assets.rc
DKCpp/apps/*/assets.zip
DKCpp/apps/*/assets/DK
DKCpp/apps/*/assets/DKAssets
DKCpp/apps/*/assets/DKAudio
DKCpp/apps/*/assets/DKDebug
DKCpp/apps/*/assets/DKDom
DKCpp/apps/*/assets/DKDuktape
DKCpp/apps/*/assets/DKFile
DKCpp/apps/*/assets/DKRml
DKCpp/apps/*/assets/DKRmlVideo
DKCpp/apps/*/assets/DKSDLText
DKCpp/apps/*/assets/DKVideo
DKCpp/apps/*/assets/DKWebTest
DKCpp/apps/*/assets/DKWindow
DKCpp/apps/*/assets/favicon.ico
DKCpp/apps/*/assets/icon.ico
DKCpp/apps/*/assets/icon.png
DKCpp/apps/*/assets/log.txt
DKCpp/apps/*/icon.h
DKCpp/apps/*/icon.ico
DKCpp/apps/*/icon.rc
DKCpp/apps/*/icons/windows
DKCpp/apps/*/resource.h
DKCpp/apps/*/resource.rc

DKCpp/apps/DKCore/main.cpp
DKCpp/apps/DKJavascript/main.cpp
DKCpp/apps/DKSDL/main.cpp
DKCpp/apps/DKSDLRml/main.cpp

DKPython/functions/__pycache__

