*.exe
*.lib
*.a

*/*/*.exe.aarch64.elf
*/*/*.exe.com.dbg
*/*/backward.cpp
DEPENDS.TMP
3rdParty/*/android_arm32_clang
3rdParty/*/android_arm64_clang
3rdParty/*/android_x86_clang
3rdParty/*/android_x86_64_clang
3rdParty/*/emscripten_arm32_clang
3rdParty/*/emscripten_arm64_clang
3rdParty/*/emscripten_x86_clang
3rdParty/*/emscripten_x86_64_clang
3rdParty/*/ios_arm32_clang
3rdParty/*/ios_arm64_clang
3rdParty/*/ios_x86_clang
3rdParty/*/ios_x86_64_clang
3rdParty/*/iossim_arm32_clang
3rdParty/*/iossim_arm64_clang
3rdParty/*/iossim_x86_clang
3rdParty/*/iossim_x86_64_clang
3rdParty/*/linux_arm32_clang
3rdParty/*/linux_arm64_clang
3rdParty/*/linux_x86_clang
3rdParty/*/linux_x86_64_clang
3rdParty/*/mac_arm32_clang
3rdParty/*/mac_arm64_clang
3rdParty/*/mac_x86_clang
3rdParty/*/mac_x86_64_clang
3rdParty/*/win_x86_clang
3rdParty/*/win_x86_mingw
3rdParty/*/win_x86_msvc
3rdParty/*/win_x86_64_clang
3rdParty/*/win_x86_64_clangarm
3rdParty/*/win_x86_64_mingw
3rdParty/*/win_x86_64_msvc
3rdParty/*/win_x86_64_ucrt
DKApps/*/.vscode
DKApps/*/DKApp.code-workspace
DKApps/*/DKPlugins.h
DKApps/*/assets.h
DKApps/*/assets.zip
DKApps/*/cosmo_cosmo_cosmo
DKApps/*/icons/windows
DKApps/*/resource.h
DKApps/*/resource.rc
DKApps/*/WIN_X86_64_CLANG
DKApps/DKCore/assets
DKApps/DKCore/main.cpp
DKCMAKE_START_VARIABLES.temp
DKPlugins/*/CMakeLists.txt
DKPlugins/*/WIN_X86_64_CLANG
DKPlugins/DKXml/pugixml.cpp
