#*          text eol=lf
*.bash      text eol=lf
#*.bat       text eol=crlf
*.c 		text eol=lf
*.cmake		text eol=lf
*.cmd       text eol=lf
*.cpp 		text eol=lf
*.cs 		text eol=lf
*.h 		text eol=lf
*.hpp 		text eol=lf
*.hta 		text eol=lf
*.htm 		text eol=lf
*.html 		text eol=lf
*.java 		text eol=lf
*.js 		text eol=lf
*.php		text eol=lf
*.ps1		text eol=lf
*.py		text eol=lf
#*.reg       text eol=crlf
*.sh        text eol=lf
*.txt		text eol=lf
*.vbs       text eol=lf
#/DKBash/*  text eol=lf
#/DKBatch/* text eol=crlf
