*.a
*.exe
*.exe.aarch64.elf
*.exe.com.dbg
*.lib
*/*/backward.cpp
android_arm32_clang
android_arm64_clang
*/*/android_x86_clang
*/*/android_x86_64_clang
*/*/cosmo_cosmo_cosmo
*/*/cosmopolitan
*/*/emscripten_arm32_clang
*/*/emscripten_arm64_clang
*/*/emscripten_x86_clang
*/*/emscripten_x86_64_clang
*/*/ios_arm32_clang
*/*/ios_arm64_clang
*/*/ios_x86_clang
*/*/ios_x86_64_clang
*/*/iossim_arm32_clang
*/*/iossim_arm64_clang
*/*/iossim_x86_clang
*/*/iossim_x86_64_clang
*/*/linux_arm32_clang
*/*/linux_arm64_clang
*/*/linux_x86_clang
*/*/linux_x86_64_clang
*/*/linux_arm32_gcc
*/*/linux_arm64_gcc
*/*/linux_x86_gcc
*/*/linux_x86_64_gcc
*/*/mac_arm32_clang
*/*/mac_arm64_clang
*/*/mac_x86_clang
*/*/mac_x86_64_clang
*/*/raspberry_arm32_clang
*/*/raspberry_arm64_clang
*/*/raspberry_x86_clang
*/*/raspberry_x86_64_clang
*/*/raspberry_arm32_gcc
*/*/raspberry_arm64_gcc
*/*/raspberry_x86_gcc
*/*/raspberry_x86_64_gcc
*/*/win_x86_clang
*/*/win_x86_mingw
*/*/win_x86_msvc
*/*/win_x86_64_clang
*/*/win_x86_64_clangarm
*/*/win_x86_64_mingw
*/*/win_x86_64_msvc
*/*/win_x86_64_ucrt
CMakeFiles
DEPENDS.TMP
DKCMAKE_START_VARIABLES.temp
DKCMAKE_PROJECT_VARIABLES.temp
DKCMAKE_FLAG_VARIABLES.temp
3rdParty/*android
DKApps/*/.vscode
DKApps/*/CMakeLists.txt
DKApps/*/DKApp.code-workspace
DKApps/*/DKPlugins.h
DKApps/*/assets.h
DKApps/*/assets.zip
DKApps/*/icons/windows
DKApps/*/resource.h
DKApps/*/resource.rc
DKApps/DKCore/assets
DKApps/DKCore/main.cpp
DKPlugins/*/CMakeLists.txt
DKPlugins/DKXml/pugixml.cpp

