html{
	height:100%;
	font-size: 1.0px;
}

body{
	font-family: Arial;
	top: 0px;
	left: 0px;
	height: 100%;
	min-height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
	cursor: default;
}

button{
	font-size: 13rem;
}

textarea{
	resize: none;
}

option{
	background-color: white;
	color:black;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

option:hover{
	background-color: rgb(123,157,212);
	color:white;
}

div.option:hover{
	background-color: rgb(123,157,212);
	color:white;
}