/*
* Default styles for all the basic elements.
*/



body
{
	font-family: LatoLatin;
	font-weight: normal;
	font-style: normal;
	font-size: 15dp;
	color: white;
	overflow: auto;
	height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

div
{
	display: block;
}

p
{
	display: block;
}

h1
{
	display: block;
}

em
{
	font-style: italic;
}

strong
{
	font-weight: bold;
}

datagrid
{
	display: block;
}

select, dataselect, datacombo
{
	text-align: left;
}

tabset tabs
{
	display: block;
}

table {
	box-sizing: border-box;
	display: table;
}
tr {
	box-sizing: border-box;
	display: table-row;
}
td {
	box-sizing: border-box;
	display: table-cell;
}
col {
	box-sizing: border-box;
	display: table-column;
}
colgroup {
	display: table-column-group;
}
thead, tbody, tfoot {
	display: table-row-group;
}
