/* libRml user agent stylesheet */

/* http://www.w3schools.com/css/css_syntax.asp */
/* http://librocket.com/wiki/documentation/RCSS/Selectors */

html{
	font-family: "Times New Roman";
	font-size: 130%;
	overflow: auto;
	height: 100%;
	width: 100%;
	top:0px;
	left:0px;
}

head{
	display:none;
}

body{
	font-family: "Times New Roman";
	/*font-size: 13em;*/
	color: black;
	margin: 8px;
	display: block;
}

style{
	display:none;
}

title{
	display:none;
}

option, div, tr{
	display:block;
}

th{
	font-weight: bold;
}

strong, b{
	font-weight: bold;
}

i, cite, em, var, address{
	font-style: italic;
}

p{
	/* font-family: "Times New Roman"; */
	display:block;
	margin-top: 1em;
	margin-bottom: 1em;
	/* margin-block-start: 1em; */
    /* margin-block-end: 1em; */
    /* margin-inline-start: 0px; */
    /* margin-inline-end: 0px; */
}