/* libRml user agent stylesheet */

/* http://www.w3schools.com/css/css_syntax.asp */
/* http://librocket.com/wiki/documentation/RCSS/Selectors */

html{
	font-family: "Times New Roman";
	font-size: 130%;
	overflow-x: auto;
	/*overflow-y: visible;*/
	height: 100%;
	width: 100%;
	top:0px;
	left:0px;
}

head{
	display:none;
}

body{
	font-family: "Times New Roman";
	/*font-size: 13em;*/
	color: black;
	margin: 8px;
	display: block;
}

style{
	display:none;
}

title{
	display:none;
}

option, div, tr{
	display:block;
}

th{
	font-weight: bold;
}

strong, b{
	font-weight: bold;
}

i, cite, em, var, address{
	font-style: italic;
}

p{
	/* font-family: "Times New Roman"; */
	display:block;
	margin-top: 1em;
	margin-bottom: 1em;
	/* margin-block-start: 1em; */
    /* margin-block-end: 1em; */
    /* margin-inline-start: 0px; */
    /* margin-inline-end: 0px; */
}



/* Buttons */
@spritesheet theme 
{
	src: buttons.png;
	
	button-left: 0px 0px 1px 21px;
	button-center: 1px 0px 19px 21px;
	button-right: 20px 0px 1px 21px;
	
	button-hover-left: 21px 0px 1px 21px;
	button-hover-center: 22px 0px 19px 21px;
	button-hover-right: 41px 0px 1px 21px;
	
	button-active-left: 42px 0px 1px 21px;
	button-active-center: 43px 0px 19px 21px;
	button-active-right: 62px 0px 1px 21px;
}
button{
	color: black;
	width: 50px;
	text-align: center;
	padding: 1px 6px;
	border-width: 2px;
	decorator: tiled-horizontal(button-left, button-center, button-right);
}
button:hover{
	decorator: tiled-horizontal(button-hover-left, button-hover-center, button-hover-right);
}
button:active{
	decorator: tiled-horizontal(button-active-left, button-active-center, button-active-right);
}