[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=true
Name=DKBuilder
Exec=/home/aquawicket/Desktop/digitalknob/DKApps/DKBuilder/linux64/Release/DKBuilder
Icon=/home/aquawicket/Desktop/digitalknob/DKApps/DKBuilder/icons/icon.png