/*
* This source file is part of digitalknob, the cross-platform C/C++/Javascript/Html/Css Solution
*
* For the latest information, see https://github.com/aquawicket/DigitalKnob
*
* Copyright(c) 2010 - 2023 Digitalknob Team, and contributors
*
* Permission is hereby granted, free of charge, to any person obtaining a copy
* of this software and associated documentation files(the "Software"), to deal
* in the Software without restriction, including without limitation the rights
* to use, copy, modify, merge, publish, distribute, sublicense, and /or sell
* copies of the Software, and to permit persons to whom the Software is
* furnished to do so, subject to the following conditions :
*
* The above copyright noticeand this permission notice shall be included in all
* copies or substantial portions of the Software.
*
* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
* IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
* FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.IN NO EVENT SHALL THE
* AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
* LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
* OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
* SOFTWARE.
*/

#include "windows.h"
#include "resource.h"

ASSETS_ZIP                RCDATA                  "assets.zip"
IDI_ICON                  ICON    DISCARDABLE     "assets\\icon.ico"
IDI_TASKBARDEMO           ICON    DISCARDABLE     "assets\\icon.ico"
//IDI_ICON4               ICON    DISCARDABLE     "assets\\icon4.ico"
//IDI_ICON3               ICON    DISCARDABLE     "assets\\icon3.ico"
//IDI_ICON2               ICON    DISCARDABLE     "assets\\icon2.ico"
//IDI_ICON1               ICON    DISCARDABLE     "assets\\icon1.ico"


IDR_POPUP_MENU MENU DISCARDABLE 
BEGIN
    POPUP "POPUP"
    BEGIN
		MENUITEM "", 0
		//MENUITEM "Restore",                         IDM_RESTORE
        //MENUITEM "Minimize to Tray",                IDM_MINTOTRAY
        //MENUITEM "Exit",                        	IDM_EXIT
    END
END


STRINGTABLE DISCARDABLE 
BEGIN
    IDS_APP_TITLE           "TaskbarDemo"
    IDC_TASKBARDEMO         "TASKBARDEMO"
END