input.range.volume
{
	width:150rem;
	height:150rem;
}

input.range.volume slidertrack
{
	height:4rem;
	width:4rem;
	margin-top:9rem;
	background-decorator: image;
	background-image: rangetrack.png 0px 0px 4px 4px;
}

input.range.volume sliderbar
{
	width:11rem;
	height:21rem;
	background-decorator: image;
	background-image: rangebar.png 0px 0px 11px 21px;
}