#DKConsole/DKConsole/.html
{
	position:absolute;
	overflow:auto;
	width:100%;
	bottom:0rem;
	height:150rem;
	background-color:white;
}

#DKConsole_firstline
{
	display:block;
	height:14rem;
}

#DKConsole_Clear
{
	position:absolute;
	top:0rem;
	right:36rem;
	width:20rem;
}

#DKConsole_Close
{
	position:absolute;
	top:0rem;
	right:16rem;
	width:20rem;
}