<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>${CFBundleDevelopmentRegion}</string>
	<key>CFBundleDisplayName</key>
	<string>${CFBundleDisplayName}</string>
	<key>CFBundleExecutable</key>
	<string>${CFBundleExecutable}</string>
	<key>CFBundleGetInfoString</key>
	<string>${CFBundleGetInfoString}</string>
	<key>CFBundleIconFile</key>
	<string>${CFBundleIconFile}</string>
	<key>CFBundleIdentifier</key>
	<string>${CFBundleIdentifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>${CFBundleInfoDictionaryVersion}</string>
	<key>CFBundleLongVersionString</key>
	<string>${CFBundleLongVersionString}</string>
	<key>CFBundleName</key>
	<string>${CFBundleName}</string>
	<key>CFBundlePackageType</key>
	<string>${CFBundlePackageType}</string>
	<key>CFBundleShortVersionString</key>
	<string>${CFBundleShortVersionString}</string>
	<key>CFBundleSignature</key>
	<string>${CFBundleSignature}</string>
	<key>CFBundleVersion</key>
	<string>${CFBundleVersion}</string>
	<key>NSMainNibFile</key>
	<string>${NSMainNibFile}</string>
	<key>UILaunchStoryboardName</key>
	<string>${UILaunchStoryboardName}</string>
	<key>UIMainStoryboardFile</key>
	<string>${UIMainStoryboardFile}</string>
	<key>UISupportedInterfaceOrientations</key>
	<array/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
