#DKNotepad\/DKNotepad\.html
{
	position:absolute;
	overflow:hidden;
}

#DKNotepad_Menubar
{
	position:absolute;
	width:100%;
	height:20px;
	height:20rem;
	background-color:rgb(220,220,220);
	cursor:default;
}

#DKNotepad_File
{
	position:absolute;
	top:2px;
	top:2rem;
	left:6px;
	left:6rem;
	width:35px;
	width:35rem;
}

#DKNotepad_Edit
{
	position:absolute;
	top:2px;
	top:2rem;
	left:46px;
	left:46rem;
	width:35px;
	width:35rem;
}

#DKNotepad_Format
{
	position:absolute;
	top:2px;
	top:2rem;
	left:86px;
	left:86rem;
	width:50px;
	width:50rem;
}

#DKNotepad_View
{
	position:absolute;
	top:2px;
	top:2rem;
	left:146px;
	left:146rem;
	width:35px;
	width:35rem;
}

#DKNotepad_Help
{
	position:absolute;
	top:2px;
	top:2rem;
	left:190px;
	left:190rem;
	width:35px;
	width:35rem;
}

#DKNotepad_Container
{
	position:absolute;
	top:20px;
	top:20rem;
	left:0px;
	left:0rem;
	right:0px;
	right:0rem;
	bottom:0px;
	bottom:0rem;
}

#DKNotepad_Text
{
	position:absolute;
	top:0px;
	top:0rem;
	left:0px;
	left:0rem;
	width:100%;
	height:100%;
	border-width:0px;
	border-width:0rem;
	overflow-y:auto;
	white-space: normal;
}