#DKFile\/DKOpenFile\.html
{
	position:absolute;
	overflow:hidden;
}

#DKOpenFileUp
{
	position:absolute;
	top:2rem;
	left:7rem;
	width:19rem;
}

#DKOpenFilePath_Div
{
	position:absolute;
	top:2rem;
	height:16rem;
	left:30rem;
	right:10rem;
}

#DKOpenFilePath
{
	position:absolute;
	width:100%;
	height:100%;
	overflow-x:hidden;
}

#DKOpenFileMenu
{
	position:absolute;
	top:25rem;
	left:3rem;
	width:150rem;
	bottom:30rem;
	overflow-x:auto;
	overflow-y:scroll;
	border-width:1rem;
	background-color:rgb(255,255,255);
}

#DKOpenFileMenu2
{
	position:absolute;
	top:25rem;
	left:160rem;
	right:10rem;
	bottom:30rem;
	overflow-x:auto;
	overflow-y:scroll;
	border-width:1rem;
	background-color:rgb(255,255,255);
}

#DKOpenFileCancel
{
	position:absolute;
	right:70rem;
	bottom:5rem;
	width:80rem;
}

#DKOpenFileOK
{
	position:absolute;
	right:20rem;
	bottom:5rem;
	width:50rem;
}