#DKFile\/DKSaveFile\.html
{
	position:absolute;
	overflow:hidden;
}

#DKSaveFileUp
{
	position:absolute;
	top:2rem;
	left:7rem;
	width:19rem;
}

#DKSaveFilePath_Div
{
	position:absolute;
	top:2rem;
	height:16rem;
	left:30rem;
	right:10rem;
}

#DKSaveFilePath
{
	position:absolute;
	width:100%;
	height:100%;
	overflow-x:hidden;
}

#DKSaveFileMenu
{
	position:absolute;
	top:25rem;
	left:3rem;
	width:150rem;
	bottom:30rem;
	overflow-x:auto;
	overflow-y:scroll;
	border-width:1rem;
	background-color:rgb(255,255,255);
}

#DKSaveFileMenu2
{
	position:absolute;
	top:25rem;
	left:160rem;
	right:10rem;
	bottom:30rem;
	overflow-x:auto;
	overflow-y:scroll;
	border-width:1rem;
	background-color:rgb(255,255,255);
}

#DKSaveFileNameText
{
	position:absolute;
	left:10px;
	left:10rem;
	bottom:5rem;
	width:50rem;
}

#DKSaveFileName
{
	position:absolute;
	left:70px;
	left:70rem;
	bottom:5rem;
	width:150rem;
}

#DKSaveFileCancel
{
	position:absolute;
	right:70rem;
	bottom:5rem;
	width:80rem;
}

#DKSaveFileOK
{
	position:absolute;
	right:20rem;
	bottom:5rem;
	width:50rem;
}